extend layout

block content
  h1 Contact us to get your carpet clean!

  p Call 706.206.8168 during our normal bussiness hours:

  #cp-hours
    label Monday - Friday
    span  9am - 5pm
  
  p We also offer 24/7 Emergency Services.
