extends layout


block content
  p
    strong Carpets Plus 
    | is a privately owned company serving Athens, GA. 
    | We specialize in different type of services for residential and commercial cleaning, always using the most suitable technique from steam cleaning to dry compound.
    
  
  h2 We specialize in the following services:
  dl
    dt Carpet Cleaning 
      dd Wall to wall carpet cleaning, including stairs and hallways
      
    dt Upholstery Cleaning
      dd All types of upholstered furniture cleaned </li>
    
    dt Water Damage
      dd Complete restoration of water damage, including water removal, carpet cleaning, disinfecting and deodorizing
      
    dt Office Cleaning
      dd Carpet cleaning and upholstery cleaning for commercial accounts such as: offices, restaurants, doctor clinics, hotels, theaters and churches.
      
    dt All type of cleaning for drapery
      dd curtains and blinds 
