extends layout


block content
  p
    strong Carpets Plus 
    | is a privately owned and operated company serving Athens, GA and the surrounding areas.  

  p We specialize in different types of services for residential and commercial cleaning, always using the most suitable technique from steam cleaning to dry compound.
