doctype 5
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/main.css')
    block cssIncludes
  body
    #cp-wrap
      include header
      
      section#cp-main
        include navigation
        block content
      
      block scripts