main-color = #fa5b4d
background-color = #faf9f0

html
  min-height 100%

body
  font-size: 1.2em
  background linear-gradient(top, white, grey)
  background-attachment fixed
  color #444
	margin 50px 0px 
	padding 0px
	text-align center

#cp-wrap 
  height 100%
  
header
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center
  
  h1
    font-size 2em
    color black
    // text-shadow -2px -1px -5px white
    text-shadow -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white


#cp-main
	width 750px
	margin 0px auto
	text-align left
	padding 22px
	border 1px dotted grey
	background-color #eee
	border-radius 10px
	
	h2
	  margin-top 12px
	  font-size: 1.2em
	
dl 
  margin-top 12px	
	
dd 
  margin-left 30px
  display list-item 
  list-style circle