main-color = #fa5b4d
background-color = #faf9f0
logoShadowColor = darken(white, 50)

html
  min-height 100%

body
  font-size: 1.2em
  background linear-gradient(top, white, grey)
  background-attachment fixed
  color #444
	margin 50px 0px 
	padding 0px
	text-align center

#cp-wrap 
  height 100%
  
header
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center
  
  h1
    font-size 2em
    color black
    text-shadow -2px -1px -5px logoShadowColor
    // text-shadow -1px 0 , 0 1px logoShadowColor, 1px 0 logoShadowColor, 0 -1px logoShadowColor


#cp-main
	width 750px
	margin 0px auto
	text-align left
	padding 22px
	border 1px dotted grey
	background-color #eee
	border-radius 10px
	
	h2
	  margin-top 12px
	  font-size: 1.2em
	
dl 
  margin-top 12px	
	
dd 
  margin-left 30px
  display list-item 
  list-style circle
  
h1, h2, h3, h4, h5
  margin 10px auto
 
h1
  font-size 1.5em

h2
  font-size 1.4em
  
h3
  font-size 1.3em
  
h4
  font-size 1.2em
  
h5
  font-size 1.1em