@import "nib"
@import "mixin"
@import "typography"

// Meyer reset, courtesy of Nib
global-reset() 


main-color = #fa5b4d
background-color = #faf9f0

body
  background-color background-color
  color #444
	margin 50px 0px 
	padding 0px
	text-align center

header
  // font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center


#main
	width 750px
	margin 0px auto
	text-align left
	padding 22px
	border 1px dashed #333
	background-color #eee
	
dt 
  font-weight: 700
  
  &:after
    content "\203A" 
    padding-left .25em 
    
dd
  margin-left: 0 
  visibility: hidden 
  
dl:hover > dt:after
  content: "\2026" 
  
dl:hover > dd 
  visibility: visible